modules = ["web", "nodejs-20", "nix"]
run = "npm run watch"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node dist/my_form_25/server/server.mjs"]
build = ["sh", "-c", "ng build"]
