<div class="container">
    <!-- <h2 class="text-center m-4">
        Registed List of Students Information
    </h2> -->
    <div class="row align-items-center">
        <div class="col-4">
          <h4 style="margin-left: 130px; color: #1E90FF;">Temporary Application ID:</h4>
        </div>
        <div class="col-5">
          <input type="text" class="form-control" id="temporaryApplicationId" placeholder="Enter Temporary Application ID here ....." formControlName="temporaryApplicationId"
          />
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary" style="background-color: #1E90FF;">Search</button>
          <button (click)="onLogout()" type="button" class="btn btn-primary" style="background-color: #1E90FF; margin-left: 10px;">Logout</button>
        </div>
      </div>
      <br>
      <!-- <table class="table table-warning table-striped"> -->
        <table class="table table-striped" style="background-color:#E6E6FA; margin-bottom: 190px;">      
        <thead>
            <tr>
                <th class="col-1" style="color:#800080">S.No.</th>
                <th class="col-2" style="color:#800080">Name</th>
                <!-- <th class="col-1">Email</th> -->
                <th class="col-1" style="color:#800080">Father Name</th>
                <th class="col-1" style="color:#800080">Application ID</th>
                <th class="col-2" style="color:#800080">Department</th>
                <!-- <th class="col-1" style="color:#800080">Update</th> -->
                <th class="col-1" style="color:#800080">Admission Type</th>
                <th class="col-1" style="color:#800080">Payment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of apiData">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.fathername}}</td>
                <!-- <td>{{data.mobile}}</td> -->
                <td>{{data.appid}}</td>
                <td>{{data.department}}</td>
                <td>{{data.quotatype}}</td>
                <!-- <td>
                    <button class="btn btn-primary btn-sm m-1">Update</button>
                </td> -->
                <!-- <td>
                    <button class="btn btn btn-secondary btn-sm m-1">Printview</button>
                </td> -->
                <td>
                    <button class="btn btn btn-danger btn-sm m-1" (click)="navigateToAccpform()" >Click Here</button>
                </td>
            </tr>
        </tbody>
    </table>
        
        <!-- <div>
            <button class="formbold-confirm-btn active">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="10.5" fill="white" stroke="#DDE3EC"/>
              <g clip-path="url(#clip0_1667_1314)">
              <path d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z" fill="#536387"/>
              </g>
              <defs>
              <clipPath id="clip0_1667_1314">
              <rect width="14" height="14" fill="white" transform="translate(4 4)"/>
              </clipPath>
              </defs>
              </svg>
              Yes! I want it.
            </button>

            <button class="formbold-confirm-btn">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="10.5" fill="white" stroke="#DDE3EC"/>
              <g clip-path="url(#clip0_1667_1314)">
              <path d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z" fill="#536387"/>
              </g>
              <defs>
              <clipPath id="clip0_1667_1314">
              <rect width="14" height="14" fill="white" transform="translate(4 4)"/>
              </clipPath>
              </defs>
              </svg>
              No! I don’t want it.
            </button>
          </div> -->
          
          
</div>