<form>
    <div class="form-row">
            <label class="form-control-label">Full Name *:</label>
            <input type="text" id="fullName" placeholder="Full Name" class="form-control">
                <div class="col">
                    <label class="form-control-label">E-Mail ID *:</label>
                    <input type="text" class="form-control" placeholder="E-Mail ID">
                </div>
                <div class="col">
                    <label class="form-control-label">Mobile Number *:</label>
                    <input type="text" class="form-control" placeholder="Mobile Number">
                </div>
    </div>
    <div class="form-row">
    <div class="col">
        <label class="form-control-label">Date of Birth *:</label>
        <input type="date" class="form-control" placeholder="Date of Birth">
    </div>
    <div class="col">
        <label class="form-control-label">Place of Birth *:</label>
        <input type="text" class="form-control" placeholder="Place of Birth" (input)="convertToUppercase($event)">
        <!-- <input type="text" class="form-control" placeholder="Place of Birth"> -->
    </div>
</div> 
<hr class="mb-4">
<div class="form-row">
    <div class="col">
        <label for="Quota" class="form-control-label">Quota *:</label>
        <select name="Quota" class="form-control" required>
            <option value="">-- Select Quota here --</option>
            <option value="Management">Management</option>
            <option value="Convener">Convener - Full Fee Exemption</option>
            <option value="Full Fee Exemption">Convener - Not Eligible for Full Fee Exemption</option>
            <option value="PH">Physically Handicapped</option>
            <option value="Sports">Sports</option>
            <option value="NCC">NCC </option>
            <option value="EX-Service">EX-Service</option>
            <option value="GOI">GOI</option>
            <option value="J and K">J and K</option>
            <option value="SNQ">SNQ</option>
            <option value="NRI / GULF / FN / PIO">NRI / GULF / FN / PIO</option>
            <option value="Lateral Entry">Lateral Entry</option>
        </select>                                    
    </div>                                    
    <div class="col">
        <label for="academic_year" style="font-family: Poppins;">Academic Year *:</label><br>
        <select name="academic_year" id="academic_year" required class="form-control" required>
            <option value="">-- Select Academic Year --</option>
            <option value="2025-2026">2025-2026</option>
            <!-- <option value="2026-2027">2026-2027</option>
            <option value="2027-2028">2027-2028</option> -->
        </select>                                    
    </div>
</div> 

<div class="form-row">
    <div class="col">
        <label style="margin-top: 15px;" >Branch *:</label><br>
        <select name="department" id="department" class="form-control" required>
        <option value="">-- Select Branch here --</option>                                      
        <option value="Department of Civil Engineering-01">Department of Civil Engineering</option>
        <option value="Department of Electrical & Electronics Engineering -02">Department of Electrical & Electronics Engineering</option>
        <option value="Department of Mechanical Engineering-03">Department of Mechanical Engineering</option>
        <option value="Department of Electronics & Communication Engineering-04">Department of Electronics & Communication Engineering</option>                                       
        <option value="Department of Computer Science & Engineering-05">Department of Computer Science & Engineering</option>
        <option value="Department of Computer Science & Engineering : Artificial Intelligence-31">Department of Computer Science & Engineering - Artificial Intelligence</option>
        <option value="Department of Computer Science & Engineering : Data Science-32">Department of Computer Science & Engineering - Data Science</option>
        <option value="Department of Computer Science & Engineering : Cyber Security-37">Department of Computer Science & Engineering - Cyber Security</option>
        <option value="Department of Computer Science & Engineering : Networks-40">Department of Computer Science & Engineering Networks</option>
        <option value="Department of Computer Science & Engineering : Artificial Intelligence & Machine Learning-33">Department of Computer Science & Engineering - Artificial Intelligence & Machine Learning</option>
        <option value="Department of Computer Science & Technology-28">Department of Computer Science & Technology</option>
    </select>
    </div>
</div> 

<hr class="mb-4" style="margin-top: 40px; margin-bottom: 10px;">

<div class="form-row" style="margin-top: 20px;">
    <div class="col">
        <label class="form-control-label">Nationality *:</label>
        <input type="text" class="form-control" placeholder="Nationality" required (input)="convertToUppercase($event)">
        </div>
    <div class="col">
        <label class="form-control-label">Religion *:</label>
        <select class="form-control">
            <option value="">-- Select Religion --</option>
            <option value="Buddhism">Buddhism</option>
            <option value="Christianity">Christianity</option>
            <option value="Hinduism">Hinduism</option>
            <option value="Islam">Islam</option>
            <option value="Jainism">Jainism</option>
            <option value="Secular">Secular</option>
            <option value="Sikhism">Sikhism</option>
            <option value="Spiritism">Spiritism</option>
        </select>
    </div>
</div> 

<div class="form-row">
    <div class="col">
        <label class="form-control-label">Minority *:</label>
        <select class="form-control">
            <option value="">-- Select Minority --</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
    <div class="col">
        <label class="form-control-label">Caste *:</label>
        <input type="text" class="form-control" placeholder="Caste">
        </div>
</div> 

<div class="form-row">
    <div class="col">
        <label class="form-control-label">Mother Tongue *:</label>
        <!-- <input type="text" class="form-control" placeholder="Nationality"> -->
        <select class="form-control">
            <option value="">-- Select Mother Tongue --</option>
            <option value="Assamese">Assamese</option>
            <option value="Bengali">Bengali</option>
            <option value="Bodo">Bodo</option>
            <option value="Dogri">Dogri</option>
            <option value="English">English</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Hindi">Hindi</option>
            <option value="Kannada">Kannada</option>
            <option value="Kashmiri">Kashmiri</option>
            <option value="Konkani">Konkani</option>
            <option value="Maithili">Maithili</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Manipuri">Manipuri</option>
            <option value="Marathi">Marathi</option>
            <option value="Nepali">Nepali</option>
            <option value="Odia">Odia</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Sanskrit">Sanskrit</option>
            <option value="Santali">Santali</option>
            <option value="Sindhi">Sindhi</option>
            <option value="Tamil">Tamil</option>
            <option value="Telugu">Telugu</option>
            <option value="Urdu">Urdu</option>
        </select>
    </div>
    <div class="col">
        <label class="form-control-label">Citizenship *:</label>
        <input type="text" class="form-control" placeholder="Citizenship">
        </div>
</div> 

<hr class="mb-4" style="margin-top: 10px; margin-bottom: 10px;">

<div class="form-row">
    <div class="col">
        <label class="form-control-label">Family Size *:</label>
        <input type="number" class="form-control" placeholder="Family Size">
    </div>
    <div class="col">
        <label class="form-control-label">Blood Group *:</label>
        <!-- <input type="text" class="form-control" placeholder="Place of Birth"> -->
        <select class="form-control">
            <option value="">-- Select Blood Group --</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select>
    </div>
</div> 

<div class="form-row">
    <div class="col">
        <label class="form-control-label">PAN Card No. :</label>
        <input type="text" class="form-control" placeholder="PAN Card Number">
    </div>
    <div class="col">
        <label class="form-control-label">Passport No. :</label>
        <input type="text" class="form-control" placeholder="Passport Number">
    </div>
    <div class="col">
        <label class="form-control-label">Aadhar Card Number *:</label>
        <input type="text" class="form-control" placeholder="Aadhar Card Number">
    </div>
</div> 

<div class="form-row">
    <label for="pc1">Accommodation (College Hostel): </label>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="a_yes" name="accommodation"/>
      <label class="custom-control-label" for="a_yes" style="margin-left: 10px; margin-right: 10px;">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="a_no" name="accommodation"/>
      <label class="custom-control-label" for="a_no">No</label>
    </div>

    <label for="pc1" style="margin-left: 75px;">Transport (College Bus): </label>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="t_yes" name="transport"/>
      <label class="custom-control-label" for="t_yes" style="margin-left: 10px; margin-right: 10px;">Yes</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="t_no" name="transport"/>
      <label class="custom-control-label" for="t_no">No</label>
    </div>
</div> 

<hr class="mb-4" style="margin-top: 20px; margin-bottom: 10px;">

<div class="form-row" style="margin-top: 20px;">
<label for="pc1">Handicapped *:</label>
<div class="custom-control custom-radio">
<input type="radio" class="custom-control-input" id="p_yes" name="handicapped" [(ngModel)]="isHandicapped" [value]="true" (change)="onHandicappedChange()"/>
<label class="custom-control-label" for="p_yes" style="margin-left: 10px; margin-right: 10px;">Yes</label>
</div>
<div class="custom-control custom-radio">
<input type="radio" class="custom-control-input" id="p_no" name="handicapped" [(ngModel)]="isHandicapped" [value]="false" (change)="onHandicappedChange()"/>
<label class="custom-control-label" for="p_no">No</label>
</div>
</div>
<div class="form-row" *ngIf="isHandicapped">
<div class="col">
<label class="form-control-label">Physically Challenged :</label>
<select class="form-control" [(ngModel)]="physicallyChallenged">
  <!-- <option value="">-- Select Yes/No --</option> -->
    <option value="yes">Yes</option>
    <option value="no">No</option>
</select>
</div>
<div class="col">
<label class="form-control-label">Visually Challenged :</label>
<select class="form-control" [(ngModel)]="visuallyChallenged">
  <!-- <option value="">-- Select Yes/No --</option> -->
  <option value="yes">Yes</option>
  <option value="no">No</option>
</select>
</div>
</div>
<hr class="mb-4" style="margin-top: 20px; margin-bottom: 10px;">

<div class="form-row">
    <div class="col">
        <label for="pc2">Address for Communication *:</label>
        <label class="form-control-label">Permanent Address *:</label>
        <textarea class="form-control" id="communicationAddress" rows="3" [(ngModel)]="communicationAddress"></textarea>
        <div class="form-group">
            <label for="communicationCity">City</label>
            <input type="text" class="form-control" id="communicationCity" [(ngModel)]="communicationCity">
          </div>
          <div class="form-group">
            <label for="communicationState">State</label>
                    <!-- <input type="text" class="form-control" id="communicationState" [(ngModel)]="communicationState"> -->
                    <select class="form-control" id="communicationState" [(ngModel)]="communicationState">
                    <option value="">-- Select a State --</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="West Bengal">West Bengal</option>
                </select>                
          </div>
          <div class="form-group">
            <label for="communicationCountry">Country</label>
            <!-- <input type="text" class="form-control" id="communicationCountry" [(ngModel)]="communicationCountry"> -->
            <select class="form-control" id="communicationCountry" [(ngModel)]="communicationCountry">
                <option value=""> -- Select a Country --</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Belgium">Belgium</option>
                <option value="Brazil">Brazil</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="Colombia">Colombia</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Egypt">Egypt</option>
                <option value="Eswatini">Eswatini</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Greece">Greece</option>
                <option value="Guyana">Guyana</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Ireland">Ireland</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Korea, North">Korea, North</option>
                <option value="Korea, South">Korea, South</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Malawi">Malawi</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherlands">Netherlands</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Philippines">Philippines</option>
                <option value="Qatar">Qatar</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Thailand">Thailand</option>
                <option value="Turkey">Turkey</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Emirates">United Arab Emirates</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                </select>
          </div>
          <div class="form-group">
            <label for="communicationZip">Zip Code</label>
            <input type="text" class="form-control" id="communicationZip" [(ngModel)]="communicationZip">
          </div>
    </div>
    <div class="col">
        <!-- <label class="form-control-label" style="margin-top: 32px;">Present Address *:</label> -->
        <div class="form-check mb-3">
                <label class="form-check-label" for="sameAsPermanent" style="margin-top: 26px; text-align: left;">Same as Permanent Address</label>
                <input type="checkbox" class="form-check-input" id="sameAsPermanent" [(ngModel)]="sameAsPermanent" (change)="copyPermanentAddress()" style="width: 8px; height: 10px; margin-top: 30px; margin-left: 10px;">
                <!-- <input type="checkbox" class="form-check-input" id="sameAsPermanent" [(ngModel)]="sameAsPermanent" (change)="copyPermanentAddress()"> -->
          </div>
          <div class="form-group">
            <textarea class="form-control" id="presentAddress" rows="3" [(ngModel)]="presentAddress" [disabled]="sameAsPermanent"></textarea>
          </div>
          <div class="form-group">
            <label for="presentCity">City</label>
            <input type="text" class="form-control" id="presentCity" [(ngModel)]="presentCity" [disabled]="sameAsPermanent">
          </div>
          <div class="form-group">
            <label for="presentState">State</label>
            <!-- <input type="text" class="form-control" id="presentState" [(ngModel)]="presentState" [disabled]="sameAsPermanent"> -->
            <select class="form-control" id="presentState" [(ngModel)]="presentState" [disabled]="sameAsPermanent">
                <option value="">-- Select a State --</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
            </select>
        </div>
          <div class="form-group">
            <label for="communicationCountry">Country</label>
            <!-- <input type="text" class="form-control" id="communicationCountry" [(ngModel)]="communicationCountry"> -->
            <select class="form-control" id="presentcountry" [(ngModel)]="presentcountry">
                <option value=""> -- Select a Country --</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Belgium">Belgium</option>
                <option value="Brazil">Brazil</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="Colombia">Colombia</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Egypt">Egypt</option>
                <option value="Eswatini">Eswatini</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Greece">Greece</option>
                <option value="Guyana">Guyana</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Ireland">Ireland</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Korea, North">Korea, North</option>
                <option value="Korea, South">Korea, South</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Malawi">Malawi</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherlands">Netherlands</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Philippines">Philippines</option>
                <option value="Qatar">Qatar</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Thailand">Thailand</option>
                <option value="Turkey">Turkey</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Emirates">United Arab Emirates</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                </select>
        </div>
          <div class="form-group">
            <label for="presentZip">Zip Code</label>
            <input type="text" class="form-control" id="presentZip" [(ngModel)]="presentZip" [disabled]="sameAsPermanent">
          </div>
        </div>
        <!-- <input type="text" class="form-control" placeholder="Place of Birth"> -->
    </div>
