<img src="images/Mits_logo_25_new.png" style="margin-left: 340px; width: 800px; height: 250px;">
  <div style="text-align: center;">
    <span class="text-center text-secondary fw-bold" style="color: #E55451;font-size: 32px; font-weight: 700; font-family: Poppins;">MITS - Admission Department</span>
  </div>
  <br>
  <div style="justify-items: center;"> </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <!-- <div >
    <span class="text-start ms-5" style="color: #4863A0; font-size: 28px; font-weight: 600; font-family: Poppins; margin-left: 45px;">Register / Login </span>
  </div> -->
  <app-footer></app-footer>
