body {
  /* background: linear-gradient(to bottom, #F5F5DC, #FFCE44);  */
  background: linear-gradient(to bottom, #FFFFFF, #ADD8E6); 
  /* background-image: url('/public/images/bg_001.jpg'); */
}
.header-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .mits-logo {
    width: 800px;
    height: 250px;
  }
  
  .heading {
    color: #E55451;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  