<div class="container-fluid px-1 py-2 mx-auto">
  <div class="row d-flex justify-content-center text-center">
      <div class="col-lg-10 col-md-10">

          <!-- Step 1: Terms and Conditions -->
          <div class="card b-0 rounded-0" [class.show]="currentStep === 1">
              <div class="progress-container">
    <div class="step" [ngClass]="{'active': currentStep >= 1}" (click)="goToStep(1)">
        <div class="step-content">
            <div class="step-number">1</div>
            <div class="step-title">TERMS & CONDITIONS</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': currentStep >= 2}" (click)="goToStep(2)">
        <div class="step-content">
            <div class="step-number">2</div>
            <div class="step-title">PERSONAL DETAILS</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': currentStep >= 3}" (click)="goToStep(3)">
        <div class="step-content">
            <div class="step-number">3</div>
            <div class="step-title">QUALIFIED DETAILS</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': currentStep >= 4}" (click)="goToStep(4)">
        <div class="step-content">
            <div class="step-number">4</div>
            <div class="step-title">PARENT DETAILS</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': currentStep >= 5}" (click)="goToStep(5)">
        <div class="step-content">
            <div class="step-number">5</div>
            <div class="step-title">CONFIRMATION</div>
        </div>
    </div>
    <div class="step" [ngClass]="{'active': currentStep >= 6}" (click)="goToStep(6)">
        <div class="step-content">
            <div class="step-number">6</div>
            <div class="step-title">APPLICATION ID</div>
        </div>
    </div>
</div>
              <div class="p-3 justify-content-center text-center">
                  <h4 class="heading" style="color: #4863A0; font-weight: 700;"><u>Terms and Conditions</u></h4>
                  <div class="custom-control custom-checkbox mb-4">
                      <input id="customCheck1" type="checkbox" class="custom-control-input" [(ngModel)]="customCheck1" name="termsCheckbox">
                      <label for="customCheck1" class="custom-control-label">I have READ and AGREE to the following TERMS AND CONDITIONS</label>
                      <div *ngIf="!customCheck1" class="text-danger mt-2">
                          You must agree to the terms and conditions to proceed
                      </div>
                  </div>
                  <ol type="1" class="pl-1 text-muted mb-5">
                      <li class="indented-list-item">I will strictly abide by the rules and regulations of the college in force at all times.</li>
                      <li class="indented-list-item">I promise to avoid any acts of indiscipline or breach due to carelessness or wantonness from my part.</li>
                      <li class="indented-list-item">I realize that ragging is a bad practice and I will never indulge in or be a party to ragging in any way.</li>
                      <li class="indented-list-item">I understand that my admission may stand cancelled if I act in any way that amounts to ragging.</li>
                      <li class="indented-list-item">I understand that the college has the right to take penal action in case I am associated with ragging.</li>
                      <li class="indented-list-item">I agree that once the admission is taken it cannot be withdrawn.</li>
                    </ol>

                  <button (click)="nextStep(2)" class="btn btn-success rounded-2 mb-5">START</button>
              </div>
          </div>

          <!-- Step 2: Personal Details -->
          <div class="card b-0 rounded-0" [class.show]="currentStep === 2">
              <div class="row justify-content-center mx-auto step-container">
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(1)">
                      <h6 class="step-title-0">
                          <span class="fa fa-check"></span>
                          <span class="break-line"></span>
                          <span class="step-title">TERMS AND CONDITIONS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box active" (click)="goToStep(2)">
                      <h6 class="step-title-0">
                          <span class="fa fa-circle"></span>
                          <span class="break-line"></span>
                          <span class="step-title">PERSONAL DETAILS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(3)">
                      <h6 class="step-title-0">
                          <span class="fa fa-circle"></span>
                          <span class="break-line"></span>
                          <span class="step-title">QUALIFIED DETAILS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(4)">
                      <h6 class="step-title-0">
                          <span class="fa fa-circle"></span>
                          <span class="break-line"></span>
                          <span class="step-title">PARENT DETAILS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(5)">
                      <h6 class="step-title-0">
                          <span class="fa fa-circle"></span>
                          <span class="break-line"></span>
                          <span class="step-title">CONFIRMATION</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(6)">
                      <h6 class="step-title-0">
                          <span class="fa fa-circle"></span>
                          <span class="break-line"></span>
                          <span class="step-title">APPLICATION ID</span>
                      </h6>
                  </div>
              </div>
              <div class="p-3 justify-content-center text-center">
                  <h4 class="heading" style="color: #4863A0; font-weight: 700;"><u>Candidate Personal Details</u></h4>
                  <div class="row justify-content-center mb-4">
                      <div class="col-xl-7 col-lg-8 col-10 list text-left">
                          <label class="text-danger mb-3">* Required</label>
                          <div class="form-group">
                              <div #performComponent>
                                  <app-perform></app-perform>
                                  <app-qualform></app-qualform>
                                  <app-partform></app-partform>
                              </div>
                              <hr class="mb-4" style="margin-top: 20px; margin-bottom: 10px;">
                          </div>
                      </div>
                  </div>

                  <button (click)="prevStep()" [disabled]="currentStep === 1" class="btn btn-success rounded-0 mb-5 prev">Back</button>
                  <button id="next2" (click)="nextStep(3)" class="btn btn-success rounded-0 mb-5 next">Next</button>                
              </div>
          </div>


          <!-- Step 3: Qualification Details -->
          <div class="card b-0 rounded-0" [class.show]="currentStep === 3">
              <div class="row justify-content-center mx-auto step-container">
                <div class="col-md-2 col-4 step-box" (click)="goToStep(1)">
                  <h6 class="step-title-0">
                    <span class="fa fa-check"></span>
                    <span class="break-line"></span>
                    <span class="step-title">TERMS AND CONDITIONS</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box" (click)="goToStep(2)">
                  <h6 class="step-title-0">
                    <span class="fa fa-check"></span>
                    <span class="break-line"></span>
                    <span class="step-title">PERSONAL DETAILS</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box active" (click)="goToStep(3)">
                  <h6 class="step-title-0">
                    <span class="fa fa-circle"></span>
                    <span class="break-line"></span>
                    <span class="step-title">QUALIFIED DETAILS</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box" (click)="goToStep(4)">
                  <h6 class="step-title-0">
                    <span class="fa fa-circle"></span>
                    <span class="break-line"></span>
                    <span class="step-title">PARENT DETAILS</span>
                  </h6>
                </div>
                 <div class="col-md-2 col-4 step-box" (click)="goToStep(5)">
                  <h6 class="step-title-0">
                    <span class="fa fa-circle"></span>
                    <span class="break-line"></span>
                    <span class="step-title">CONFIRMATION</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box" (click)="goToStep(6)">
                  <h6 class="step-title-0">
                    <span class="fa fa-circle"></span>
                    <span class="break-line"></span>
                    <span class="step-title">APPLICATION ID</span>
                  </h6>
                </div>
              </div>
              <div class="p-3 justify-content-center text-center">
                <h4 class="heading" style="color: #4863A0; font-weight: 700;"><u>Candidate Qualified Details</u></h4>
                <div class="row justify-content-center mb-4">
                  <div class="col-xl-7 col-lg-8 col-10 list text-left">
                    <label class="text-danger mb-3">* Required</label>
                    <div class="form-group">
                      <div>
                        <app-qualform></app-qualform>
                      </div>
                      <hr class="mb-4" style="margin-top: 20px; margin-bottom: 10px;">
                    </div>
                  </div>
                </div>
                <button (click)="prevStep()" class="btn btn-success rounded-0 mb-5 prev">Back</button>
                <button id="next3" (click)="nextStep(4)" class="btn btn-success rounded-0 mb-5 next">Next</button>
              </div>
            </div>

          <!-- Step 4: Parent -->
          <div class="card b-0 rounded-0" [class.show]="currentStep === 4">
              <div class="row justify-content-center mx-auto step-container">
                <div class="col-md-2 col-4 step-box" (click)="goToStep(1)">
                  <h6 class="step-title-0">
                    <span class="fa fa-check"></span>
                    <span class="break-line"></span>
                    <span class="step-title">TERMS AND CONDITIONS</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box" (click)="goToStep(2)">
                  <h6 class="step-title-0">
                    <span class="fa fa-check"></span>
                    <span class="break-line"></span>
                    <span class="step-title">PERSONAL DETAILS</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box" (click)="goToStep(3)">
                  <h6 class="step-title-0">
                    <span class="fa fa-check"></span>
                    <span class="break-line"></span>
                    <span class="step-title">QUALIFIED DETAILS</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box active" (click)="goToStep(4)">
                  <h6 class="step-title-0">
                    <span class="fa fa-circle"></span>
                    <span class="break-line"></span>
                    <span class="step-title">PARENT DETAILS</span>
                  </h6>
                </div>
                 <div class="col-md-2 col-4 step-box" (click)="goToStep(5)">
                  <h6 class="step-title-0">
                    <span class="fa fa-circle"></span>
                    <span class="break-line"></span>
                    <span class="step-title">CONFIRMATION</span>
                  </h6>
                </div>
                <div class="col-md-2 col-4 step-box" (click)="goToStep(6)">
                  <h6 class="step-title-0">
                    <span class="fa fa-circle"></span>
                    <span class="break-line"></span>
                    <span class="step-title">APPLICATION ID</span>
                  </h6>
                </div>
              </div>
              <div class="p-3 justify-content-center text-center">
                <h4 class="heading" style="color: #4863A0; font-weight: 700;"><u>Candidate Parent Details</u></h4>
                <div class="row justify-content-center mb-4">
                  <div class="col-xl-7 col-lg-8 col-10 list text-left">
                    <label class="text-danger mb-3">* Required</label>
                    <div class="form-group">
                      <div>
                        <app-partform></app-partform>
                      </div>
                      <hr class="mb-4" style="margin-top: 20px; margin-bottom: 10px;">
                    </div>
                  </div>
                </div>
                <button (click)="prevStep()" class="btn btn-success rounded-0 mb-5 prev">Back</button>
                <button id="next3" (click)="nextStep(5)" class="btn btn-success rounded-0 mb-5 next">Confirm</button>
              </div>
            </div>


          <!-- Step 5: Confirmation -->
          <div class="card b-0 rounded-0" [class.show]="currentStep === 5">
              <div class="row justify-content-center mx-auto step-container">
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(1)">
                      <h6 class="step-title-0">
                          <span class="fa fa-check"></span>
                          <span class="break-line"></span>
                          <span class="step-title">TERMS AND CONDITIONS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(2)">
                      <h6 class="step-title-0">
                          <span class="fa fa-check"></span>
                          <span class="break-line"></span>
                          <span class="step-title">PERSONAL DETAILS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(3)">
                      <h6 class="step-title-0">
                          <span class="fa fa-check"></span>
                          <span class="break-line"></span>
                          <span class="step-title">QUALIFIED DETAILS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(4)">
                      <h6 class="step-title-0">
                          <span class="fa fa-check"></span>
                          <span class="break-line"></span>
                          <span class="step-title">PARENT DETAILS</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box active" (click)="goToStep(5)">
                      <h6 class="step-title-0">
                          <span class="fa fa-circle"></span>
                          <span class="break-line"></span>
                          <span class="step-title">CONFIRMATION</span>
                      </h6>
                  </div>
                  <div class="col-md-2 col-4 step-box" (click)="goToStep(6)">
                      <h6 class="step-title-0">
                          <span class="fa fa-circle"></span>
                          <span class="break-line"></span>
                          <span class="step-title">APPLICATION ID</span>
                      </h6>
                  </div>
              </div>
              <div class="p-3 justify-content-center text-center">
                  <h3 class="heading" style="color: #4863A0; font-weight: 700;"><u>Thank You for choosing MITS College</u></h3>
                  <div class="row justify-content-center">
                      <div class="">
                          <p style="text-align: center; color: #A52A2A; font-size: 28px; margin-bottom: 20px;">Your Application ID: <strong>{{ temporaryApplicationId }}</strong></p>
                          <img src="https://i.imgur.com/4Y9xMCF.gif" class="fit-image mb-5" style="height: 200px; width: 200px;">
                      </div>
                      <div class="col-7 text-center" style="color: green; font-weight: 700;">
                          <h5>Your information has been submitted Successfully</h5>
                          <p style="color: red; font-size: 16px;">Please save your Application ID for future reference</p>
                      </div>
                      <h6 class="heading" style="color: #810541; font-weight: 700;">
                          For More Details Contact: 
                          <a href="https://mits.ac.in/admisson" target="_blank" rel="noopener noreferrer">Admission Department</a>, 
                          MITS College
                          <p> Mobile: +91- 8712655132 / 8712655134 / 8712655138 / 9100601116</p>
                      </h6>
                  </div>
                  <button id="next3" (click)="closeApplication()" class="btn btn-success rounded-0 mb-5 next">Close</button>
              </div>
          </div>

          <!-- Step 6: Application ID -->
          <div class="card b-0 rounded-0" [class.show]="currentStep === 6">
              <div class="row justify-content-center mx-auto step-container">
                  <div class="application-id-content">
                      <div [innerHTML]="confirmationContent"></div>
                      <div class="col-7 text-center" style="color: green; font-weight: 700;">
                          <h5>Your information has been submitted Successfully</h5>
                          <p style="color: red; font-size: 16px;">Please save your Application ID for future reference</p>
                      </div>
                      <h6 class="heading" style="color: #810541; font-weight: 700;">
                          For More Details Contact: 
                          <a href="https://mits.ac.in/admisson" target="_blank" rel="noopener noreferrer">Admission Department</a>, 
                          MITS College
                          <p> Mobile: +91- 8712655132 / 8712655134 / 8712655138 / 9100601116</p>
                      </h6>
                      <button id="close" (click)="closeApplication()" class="btn btn-success rounded-0 mb-5">Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>