
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(180deg, #2196F3 250px, #FFF 250px);
    background-repeat: no-repeat;
}

.card.show {
    display: block !important;
}

.card {
    display: none;
    background-color: #B4CFEC;
    border: 1px solid #E0F7FA;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.heading {
    margin-bottom: 40px;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 180px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #d9e3f7;	
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;	
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #23468c;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #23468c;	
}

input, textarea, button {
    padding: 8px 15px 8px 15px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid skyblue !important;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #12AD2B !important;
    outline-width: 0;
}

.custom-button-size {
    width: 300px;
    height: 50px;
    align-items: center;
    background-color: #12AD2B;
}

.indented-list-item {
    margin-left: 300px;
    text-align: left;
    color: #A52A2A;
    font-weight: "800";
}

@media screen and (max-width: 768px) {
    .break-line {
        display: block;
        float: none;
    }
    
    .arrow-steps .step {
        min-width: auto;
        width: 100%;
        margin: 0;
        margin-bottom: 1px;
        border-radius: 0;
        padding: 10px;
    }
    
    .arrow-steps .step:after,
    .arrow-steps .step:before {
        display: none;
    }
}
