body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(180deg, #2196F3 250px, #FFF 250px);
    background-repeat: no-repeat;
}

.card.show {
    display: block !important;
}

.card {
    display: none;
    background-color: #B4CFEC;
    border: 1px solid #E0F7FA;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.step-container {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    width: 92.85%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.fa-circle {
    background-color: lightgrey;
    color: #fff;
    padding: 2px 3.1555px;
    border-radius: 50%;
}

.step-box {
    padding: 10px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #fff;
}

.step-box.active {
    color: #fff !important;
    border-left: 1px solid #2196F3;
    border-right: 1px solid #2196F3;
}

.fa-check {
    background-color: #12AD2B;
    color: #fff;
    padding: 2px 3.1555px;
    border-radius: 50%;
    font-size: 1.3em;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0.6em;
    height: 0.6em;
}

.custom-button-size {
    width: 300px;
    height: 50px;
    align-items: center;
    background-color: #12AD2B;
}

.step-title-0 {
    margin-bottom: 0px;
}

.heading {
    margin-bottom: 40px;
}

input, textarea, button {
    padding: 8px 15px 8px 15px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid skyblue !important;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #12AD2B !important;
    outline-width: 0;
}

textarea {
    height: 100px;
}

button {
    width: 120px;
    letter-spacing: 2px;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

.indented-list-item {
    margin-left: 300px;
    text-align: left;
    color: #A52A2A;
    font-weight: "800";
}

@media screen and (max-width: 768px) {
    .break-line {
        display: block;
        float: none;
    }
}