/* .body {
    background: linear-gradient(to bottom, #F5F5DC, #FFCE44); 
    background: linear-gradient(to bottom, #FFFFFF, #ADD8E6); 
    background: linear-gradient(to bottom, #E6E6FA, #98AFC7); 
    background-image: url('/public/images/bg_001.jpg');
  } */

  /* In your component's CSS file or styles.css */
 .signup-image {
    /* No need for margin or width/height here */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Make sure the container takes up space */
    margin-left: 100px;
  }
  
  .signup-image-content {
    max-width: 80%; /* Limit image width */
    height: auto; /* Maintain aspect ratio */
    /* border: 1px solid #ddd; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;   } */
  
  /* Optional: Make the image responsive */
  @media (max-width: 768px) { /* Adjust breakpoint as needed */
    .signup-image-content {
      max-width: 90%;
    }
  }
  .hr{
    height:2px;
    margin:30px 0 20px 0;
    background:rgba(0, 0, 128, 0.2);
}
}
