    <div class="container-fluid">
        <div class="row">
            <!-- First Column: Image -->
            <div class="col-md-6 p-0">
                <div class="signup-image">
                  <img src="../images/login_05.png" alt="Signup Image" class="img-fluid signup-image-content">
                </div>
              </div>

            <!-- Second Column: Signup Form -->
            <div class="col-md-5 d-flex align-items-start justify-content-center">
                <div class="p-5" style="max-width: 600px; width: 100%;">
                    <h2 class="text-center mb-4" style="color: #A52A2A; font-weight: 700;">New Login Registration</h2>
                    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">                      
                      <div class="mb-3">
                        <label for="signupName" class="form-label" style="font-size: 18px; color: #4863A0;">Full Name *:</label>
                        <input type="text" class="form-control" id="signupName" placeholder="Enter your full name (All Caps as per SSC Certificate)" formControlName="fullName">
                        @if(fullName?.dirty || fullName?.touched) {
                          @if(fullName?.errors?.['required']) {
                            <p style="color: #800080; font-size: x-small;">Enter Student Full Name is required</p>
                          }
                          @if(fullName?.errors?.['pattern']) {
                            <p style="color: #800080; font-size: x-small;">Student Full Name must be Characters </p>
                          }
                        }
                      </div>
                      <div class="mb-3">
                        <label for="signupGender" class="form-label" style="font-size: 18px; color: #4863A0; margin-right: 20px;">Gender *:</label>
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="female" formControlName="gender" />
                          <label class="form-check-label" for="femaleGender">Female</label>
                        </div>
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="male" formControlName="gender" />
                          <label class="form-check-label" for="maleGender">Male</label>
                        </div>
                        @if(gender?.dirty || gender?.touched) {
                          @if(gender?.errors?.['required']) {
                            <p style="color: #800080; font-size: x-small;">Select Gender Type</p>
                          }
                        }
                      </div>
                          <div class="mb-3">
                            <label for="signupEmail" class="form-label" style="font-size: 18px; color: #4863A0;">Email address *:</label>
                            <input type="email" class="form-control" id="signupEmail" placeholder="Enter Your Active Email ID here ....." formControlName="email">
                            @if(email?.dirty || email?.touched) {
                              @if(email?.errors?.['required']) {
                                <p style="color: #800080; font-size: x-small;">Email ID is required</p>
                              }
                              @if(email?.errors?.['pattern']) {
                                <p style="color: #800080; font-size: xx-small;">Enter Valid E-Mail ID</p>
                              }
                            }
                          </div>
                          <div class="mb-3">
                            <label for="mobildNumber" class="form-label" style="font-size: 18px; color: #4863A0;">Mobile Number *:</label>
                            <input type="number" class="form-control" id="mobildNumber" placeholder="Enter Your Mobile Number" name="phonenumber" formControlName="mobilenumber" maxlength="10">
                            @if(mobilenumber?.dirty || mobilenumber?.touched) {
                              @if(mobilenumber?.errors?.['required']) {
                                <p style="color: #800080; font-size: xx-small;">Mobile Number is required</p>
                              }
                              @if(mobilenumber?.errors?.['pattern']) {
                                <p style="color: #800080; font-size: xx-small;">Mobile Number must be 10 digits</p>
                              }
                            }
                          </div>
                        <div class="mb-3">
                            <label for="dateofBirth" class="form-label" style="font-size: 18px; color: #4863A0;">Date of Birth (Birthday) *:</label>
                            <input type="date" class="form-control" id="dateofBirth" placeholder="Date of Birth" formControlName="dateofbirth">
                            @if(dateofbirth?.dirty || dateofbirth?.touched) {
                              @if(dateofbirth?.errors?.['required']) {
                                <p style="color: #800080; font-size: x-small;">Email ID is required</p>
                              }
                            }

                        </div>
                        <div class="mb-3">
                          <label for="courseType" class="form-label" style="font-size: 18px; color: #4863A0; margin-right: 20px;">Course Type *:</label>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="courseType" id="ug" value="ug" formControlName="coursetype" formControlName="coursetype">
                            <label class="form-check-label" for="ug">UG</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="courseType" id="pg" value="pg" formControlName="coursetype">
                            <label class="form-check-label" for="pg">PG</label>
                          </div>
                          @if(coursetype?.dirty || coursetype?.touched) {
                            @if(coursetype?.errors?.['required']) {
                              <p style="color: #800080; font-size: x-small;">Select Course Type</p>
                            }
                          }
                          </div>

                          <div class="form-group">
                            <div class="form-check" style="font-size: 18px; color: #4863A0; margin-right: 20px;">
                              <input class="form-check-input" type="checkbox" id="invalidCheck" formControlName="terms">
                              <label class="form-check-label" for="invalidCheck">
                                I Agree to Terms and Conditions
                                <!-- <div>
                                  <app-success-modal></app-success-modal>
                                </div> -->
                              </label>
                              @if(terms?.dirty || terms?.touched) {
                                @if(terms?.errors?.['required']) {
                                  <div class="invalid-feedback">
                                    You must agree before submitting
                                  </div>
                                }
                              }
                            </div>
                          </div>
                          @if(coursetype?.dirty || coursetype?.touched) {
                            @if(coursetype?.errors?.['required']) {
                              <p style="color: #800080; font-size: x-small;">Select Course Type</p>
                            }
                          }
                          <div class="d-grid">
                            <button type="submit" class="btn btn-primary" style="background-color: #1E90FF;;">Register</button>
                            <!-- <button type="submit" class="btn btn-primary">Sign Up</button> -->
                        </div>
                        </form>
                    <div class="hr"></div>
                    <div class="mb-3" style="margin-top: 20px;">
                        <h4 class="mb-0" style="color: #4863A0;">Already have an account? 
                          <!-- <p>Login Component</p> -->
                          <a routerLink="/mylogin">Login</a>
                          <!-- <a href="login.html">Login</a> -->
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
