
/* .login-image {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin-left: 40px;
  } */

  .login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 20px; /* Reduced margin-left */
  }
  
  .login-image-content {
    margin-top: 10px; /* Reduced margin-top */
    max-width: 80%;
    height: auto;
  }  

  /* .login-image-content {
    margin-top: 20px;
    max-width: 80%; 
    height: auto;  */
    /* border: 0px solid #ddd; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 1px; Optional: Rounded corners */
  /* } */
  
  /* Optional: Make the image responsive */
  @media (max-width: 768px) { /* Adjust breakpoint as needed */
    .login-image-content {
      max-width: 90%;
    }
  }
  .hr{
    height:2px;
    margin:10px 0 20px 0;
    background:rgba(0, 0, 128, 0.2);
}    
.input-group-text {
  font-size: 22px; 
}

